.footer {
    background-color: #001040;
    padding-left: 200px;
    height: 60px;
}

.footer__center-div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer__container {
    height: inherit;
}

.footer__text {
    font-size: 20px;
    color: #00BF30!important;
}

.footer__social-media {
    display: block;
    float: left;
}

.footer__social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.footer__social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
   Multicoloured Hover Variations
*/

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}
#social-gh:hover {
    color: #545454;
}